@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Founders Grotesk;
    src: url(./assets/Fonts/FoundersGrotesk-Semibold.ttf);
}

::-webkit-scrollbar{
    display: none;
}